<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>0</string>
				<key>Channel</key>
				<string>0</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>1</string>
				<key>Channel</key>
				<string>1</string>
				<key>Mask</key>
				<string>65490</string>
				<key>Name</key>
				<string>C</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>2</string>
				<key>Channel</key>
				<string>2</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>0</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Name</key>
		<string>Guide</string>
		<key>Overlay</key>
		<string>-1</string>
		<key>Feedback</key>
		<string>0</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>3</string>
				<key>Channel</key>
				<string>3</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>4</string>
				<key>Channel</key>
				<string>4</string>
				<key>Name</key>
				<string>C</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>5</string>
				<key>Channel</key>
				<string>5</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>3</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Name</key>
		<string>Direct</string>
		<key>Overlay</key>
		<string>0</string>
		<key>Feedback</key>
		<string>2</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>6</string>
				<key>Channel</key>
				<string>6</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>7</string>
				<key>Channel</key>
				<string>7</string>
				<key>Name</key>
				<string>C</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>8</string>
				<key>Channel</key>
				<string>8</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>6</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Name</key>
		<string>Playback</string>
		<key>Overlay</key>
		<string>1</string>
		<key>Feedback</key>
		<string>0</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>9</string>
				<key>Channel</key>
				<string>9</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>10</string>
				<key>Channel</key>
				<string>10</string>
				<key>Name</key>
				<string>C</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>11</string>
				<key>Channel</key>
				<string>11</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>9</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Name</key>
		<string>Comp</string>
		<key>Overlay</key>
		<string>0</string>
		<key>Feedback</key>
		<string>0</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>12</string>
				<key>Channel</key>
				<string>12</string>
				<key>Name</key>
				<string>C</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>12</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Name</key>
		<string>Beeps</string>
		<key>Overlay</key>
		<string>0</string>
		<key>Feedback</key>
		<string>0</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>13</string>
				<key>Channel</key>
				<string>13</string>
				<key>Name</key>
				<string>C</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>13</string>
		<key>Buttons</key>
		<string>0</string>
		<key>Name</key>
		<string>Alt Guide</string>
		<key>Overlay</key>
		<string>-1</string>
		<key>Feedback</key>
		<string>0</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>14</string>
				<key>Channel</key>
				<string>14</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>15</string>
				<key>Channel</key>
				<string>15</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>14</string>
		<key>Buttons</key>
		<string>0</string>
		<key>Name</key>
		<string>Mac Audio</string>
		<key>Overlay</key>
		<string>0</string>
		<key>Feedback</key>
		<string>0</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>16</string>
				<key>Channel</key>
				<string>16</string>
				<key>Name</key>
				<string>C</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>16</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Name</key>
		<string>Alt Beeps</string>
		<key>Overlay</key>
		<string>0</string>
		<key>Feedback</key>
		<string>0</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
