<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>0</string>
				<key>Channel</key>
				<string>0</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>1</string>
				<key>Channel</key>
				<string>1</string>
				<key>Name</key>
				<string>C</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>2</string>
				<key>Channel</key>
				<string>2</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>0</string>
		<key>Name</key>
		<string>Control Room</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Feedback</key>
		<string>1</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>3</string>
				<key>Channel</key>
				<string>3</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>4</string>
				<key>Channel</key>
				<string>4</string>
				<key>Name</key>
				<string>C</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>5</string>
				<key>Channel</key>
				<string>5</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>3</string>
		<key>Name</key>
		<string>Stage</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Feedback</key>
		<string>2</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>6</string>
				<key>Channel</key>
				<string>6</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>7</string>
				<key>Channel</key>
				<string>7</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>6</string>
		<key>Name</key>
		<string>Actor</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Feedback</key>
		<string>4</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>8</string>
				<key>Channel</key>
				<string>8</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>9</string>
				<key>Channel</key>
				<string>9</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>8</string>
		<key>Name</key>
		<string>Editor</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Feedback</key>
		<string>8</string>
		<key>Dim A</key>
		<integer>1</integer>
		<key>Dim B</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>10</string>
				<key>Channel</key>
				<string>10</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>11</string>
				<key>Channel</key>
				<string>11</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>10</string>
		<key>Name</key>
		<string>ISDN</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Feedback</key>
		<string>16</string>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>12</string>
				<key>Channel</key>
				<string>12</string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Channel</key>
		<string>12</string>
		<key>Name</key>
		<string>Spare</string>
		<key>Buttons</key>
		<string>0</string>
		<key>Feedback</key>
		<string>32</string>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>13</string>
				<key>Channel</key>
				<string>13</string>
				<key>Name</key>
				<string>Fill</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>14</string>
				<key>Channel</key>
				<string>14</string>
				<key>Name</key>
				<string>Repeat</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>13</string>
		<key>Name</key>
		<string>Sampler</string>
		<key>Buttons</key>
		<string>0</string>
		<key>Feedback</key>
		<string>64</string>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>15</string>
				<key>Channel</key>
				<string>15</string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Channel</key>
		<string>15</string>
		<key>Name</key>
		<string>AutoSlate</string>
		<key>Buttons</key>
		<string>0</string>
		<key>Feedback</key>
		<string>128</string>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>16</string>
				<key>Channel</key>
				<string>16</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>17</string>
				<key>Channel</key>
				<string>17</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>16</string>
		<key>Name</key>
		<string>Remote Actor</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Feedback</key>
		<string>256</string>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>18</string>
				<key>Channel</key>
				<string>18</string>
				<key>Name</key>
				<string>L</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>19</string>
				<key>Channel</key>
				<string>19</string>
				<key>Name</key>
				<string>R</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>18</string>
		<key>Name</key>
		<string>Remote Editor</string>
		<key>Buttons</key>
		<string>1</string>
		<key>Feedback</key>
		<string>512</string>
	</dict>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>20</string>
				<key>Channel</key>
				<string>20</string>
				<key>Name</key>
				<string>Talkback A</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>21</string>
				<key>Channel</key>
				<string>21</string>
				<key>Name</key>
				<string>Talkback B</string>
			</dict>
			<dict>
				<key>ufxDictionaryItem</key>
				<string>22</string>
				<key>Channel</key>
				<string>22</string>
				<key>Name</key>
				<string>Snoop</string>
			</dict>
		</array>
		<key>Channel</key>
		<string>20</string>
		<key>Name</key>
		<string>Mic</string>
		<key>Buttons</key>
		<string>0</string>
		<key>Feedback</key>
		<string>1024</string>
	</dict>
</array>
</plist>
