<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>PB1</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>102</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB2</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>103</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB3</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>104</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB4</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>105</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB5</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>106</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB6</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>107</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB7</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>108</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB8</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>109</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB9</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>110</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB10</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>111</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB11</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>112</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB12</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>113</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB13</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>114</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB14</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>115</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB15</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>116</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB16</string>
		<key>Channel</key>
		<string>180</string>
		<key>ControlChange</key>
		<string>117</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB17</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>102</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB18</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>103</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB19</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>104</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB20</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>105</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB21</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>106</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB22</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>107</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB23</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>108</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB24</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>109</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB25</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>110</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB26</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>111</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB27</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>112</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB28</string>
		<key>Channel</key>
		<string>6</string>
		<key>ControlChange</key>
		<string>113</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB29</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>114</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB30</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>115</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB31</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>116</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB32</string>
		<key>Channel</key>
		<string>181</string>
		<key>ControlChange</key>
		<string>117</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB33</string>
		<key>Channel</key>
		<string>182</string>
		<key>ControlChange</key>
		<string>102</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PB34</string>
		<key>Channel</key>
		<string>182</string>
		<key>ControlChange</key>
		<string>103</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN1</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>102</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN2</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>103</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN3</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>104</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN4</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>105</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN5</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>106</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN6</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>107</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN7</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>108</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN8</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>109</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN9</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>110</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN10</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>111</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN11</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>112</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN12</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>113</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN13</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>114</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN14</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>115</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN15</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>116</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN16</string>
		<key>Channel</key>
		<string>176</string>
		<key>ControlChange</key>
		<string>117</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN17</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>102</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN18</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>103</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN19</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>104</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN20</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>105</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN21</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>106</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN22</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>107</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN23</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>108</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN24</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>109</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN25</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>110</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN26</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>111</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN27</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>112</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN28</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>113</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN29</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>114</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN30</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>115</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN31</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>116</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN32</string>
		<key>Channel</key>
		<string>177</string>
		<key>ControlChange</key>
		<string>117</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN33</string>
		<key>Channel</key>
		<string>178</string>
		<key>ControlChange</key>
		<string>102</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>IN34</string>
		<key>Channel</key>
		<string>178</string>
		<key>ControlChange</key>
		<string>103</string>
	</dict>
</array>
</plist>
