<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>AN1</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>104</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>102</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AN2</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>105</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>103</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AN3</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>106</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>104</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AN4</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>107</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>105</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AN5</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>108</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>106</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AN6</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>109</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>107</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AN7</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>110</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>108</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AN8</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>111</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>109</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PH9</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>112</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>110</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PH10</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>113</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>111</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PH11</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>114</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>112</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PH12</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>115</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>113</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AES L</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>116</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>114</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AES R</string>
		<key>SelectChannel</key>
		<string>188</string>
		<key>SelectControlChange</key>
		<string>117</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>115</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT1</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>102</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>116</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT2</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>103</string>
		<key>Channel</key>
		<string>184</string>
		<key>ControlChange</key>
		<string>117</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT3</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>104</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>102</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT4</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>105</string>
		<key>Channel</key>
		<string>185 </string>
		<key>ControlChange</key>
		<string>103</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT5</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>106</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>104</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT6</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>107</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>105</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PH1 L</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>108</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>106</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PH1 R</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>109</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>107</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PH2 L</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>110</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>108</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PH2 R</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>111</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>109</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT11</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>112</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>110</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT12</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>113</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>111</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT13</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>114</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>112</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT14</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>115</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>113</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT15</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>116</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>114</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ADAT16</string>
		<key>SelectChannel</key>
		<string>189</string>
		<key>SelectControlChange</key>
		<string>117</string>
		<key>Channel</key>
		<string>185</string>
		<key>ControlChange</key>
		<string>115</string>
	</dict>
</array>
</plist>
