<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>xKeyProduct</key>
		<string>XK-24</string>
		<key>vendorId</key>
		<integer>1523</integer>
		<key>productId</key>
		<array>
			<integer>1029</integer>
			<integer>1028</integer>
			<integer>1027</integer>
			<integer>1249</integer>
		</array>
		<key>reportSize</key>
		<integer>32</integer>
		<key>bBytes</key>
		<integer>4</integer>
		<key>bBits</key>
		<integer>6</integer>
		<key>reportSizeOutput</key>
		<integer>35</integer>
		<key>backLight2offset</key>
		<integer>32</integer>
		<key>maxRows</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>xKeyProduct</key>
		<string>XK-80</string>
		<key>vendorId</key>
		<integer>1523</integer>
		<key>productId</key>
		<array>
			<integer>1089</integer>
			<integer>1090</integer>
			<integer>1091</integer>
			<integer>1250</integer>
		</array>
		<key>reportSize</key>
		<integer>32</integer>
		<key>bBytes</key>
		<integer>10</integer>
		<key>bBits</key>
		<integer>8</integer>
		<key>reportSizeOutput</key>
		<integer>35</integer>
		<key>backLight2offset</key>
		<integer>80</integer>
		<key>maxRows</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>xKeyProduct</key>
		<string>XK-8</string>
		<key>vendorId</key>
		<integer>1523</integer>
		<key>productId</key>
		<array>
			<integer>1130</integer>
			<integer>1131</integer>
			<integer>1132</integer>
			<integer>1252</integer>
		</array>
		<key>reportSize</key>
		<integer>32</integer>
		<key>bBytes</key>
		<integer>4</integer>
		<key>bBits</key>
		<integer>6</integer>
		<key>reportSizeOutput</key>
		<integer>35</integer>
		<key>backLight2offset</key>
		<integer>24</integer>
		<key>maxRows</key>
		<integer>8</integer>
	</dict>
</array>
</plist>
